[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-togglebutton = "*"
sphinx-copybutton = "*"
pyyaml = "*"
myst-nb = "*"
sphinx-design = "*"
sphinxext-opengraph = "*"
sphinxext-rediraffe = "*"
pydata-sphinx-theme = "*"
sphinx-sitemap = "*"
black = {extras = ["jupyter"], version = "*"}
sphinx-book-theme = "*"
cloud-sptheme = "*"
ablog = "*"
myst-parser = {extras = ["linkify"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
